body {
  margin: auto;
  border-top: 7px solid #910026;
  background-color: #F0F0F0;
}

h2 {
  margin-left: 5px;
}

h3 {
  margin-left: 8px;
}

h4 {
  margin-left: 11px;
}

p {
  font-family: Times New Roman, sans-serif;
  font-size: 14px;
  margin: 0 15px 10px;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #740C08;
}

a:hover {
  text-decoration: underline;
}

#content {
  background-color: #FFFFFF
  display: block;
}

#left {
  position: fixed;
  margin-left: 15%;
  margin-top: 5%;
  line-height: 180%;
}

#right {
  float: right;
  width: 50%;
  background-color: #FFFFFF;
  margin: 40px 200px 20px 0;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  box-shadow: 0 2px 16px rgba(0, 0, 0, 0.5);
}

#footer {
  border-top: 1px solid #910026;
  margin: auto;
  width: 70%;
  text-align: center;
}