body {
  margin: auto;
  border-top: 7px solid #910026;
  background-color: #F0F0F0;
}

p {
  font-family: Lucida Grande, sans-serif;
  font-size: 14px;
}

a {
  text-decoration: none;
  color: #740C08;
}

a:hover {
  text-decoration: underline;
}

#content {
  background-color: #FFFFFF
}

#left {

}

#right {
  float: right;
  width: 50%;
  padding-right: 200px;
}

#footer {
  border-top: 1px solid #910026;
  margin: auto;
  width: 70%;
  text-align: center;
}