body {
  margin: auto;
  border-top: 7px solid red;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

#left {

}

#right {
  float: right;
  width: 70%;
}

#footer {
  border-top: 1px solid #90918B;
  margin: auto;
  width: 70%;
  text-align: center;
}